<!DOCTYPE html>
<html>
 <head>
  <title>LCD</title>
 </head>
 <body>
  <form action = "" method = "post">
   <input type = "text" name = "send">
   <input type = "submit" value = "write!">
  </form>
 </body>
</html>
